{% extends "layout.html" %}

{% block content %}

{{ super() }}

<!-- Use datamaps - https://github.com/markmarkoh/datamaps - for plotting --!>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/datamaps.usa.min.js') }}"></script>


<h1>Politico</h1>
<h3><i>A tool to help find and contact your representation</i></h3>


<div class="center-block">
<div class="row">
  <div id="map-div">
     <div id="map-container" style="position: relative; width: 800px; height: 400px;"></div>
  </div>
</div>
<div class="row">
  <div id="explore-div">
    <table id="explore-table" class="table table-striped table-compact">
      <thead>
        <th>Legislator</th>
        <th>Election Year</th>
        <th>Twitter</th>
        <th>Facebook</th>
      </thead>
      <tbody>
      </tbody>
      </table>
  </div>
</div>
</div>

<script>

  function getStateLegislators(stateId) {
    $("#explore-div #explore-table tbody").html("");
    $.get("api/osid/legislators/" + stateId,
      function(data) {
        data['legislators'].forEach(
          function(legislator) {
            console.log(JSON.stringify(legislator));
            $("#explore-div #explore-table tbody").append(
            "<tr>" +
            "<td><a href=\"" + legislator["website"] + "\">" + legislator["firstlast"] + "</a></td>" +
            "<td>" + legislator["first_elected"] + "</td>" +
            "<td>" + legislator["twitter_id"] + "</td>" +
            "<td>" + legislator["facebook_id"] + "</td>" +
            "</tr>"
            );
          });
      });
    }

    var map = new Datamap({
      element: document.getElementById('map-container'),
      scope: 'usa',
      done: function(datamap) {
        datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
          getStateLegislators(geography.id);
        });
      }
    });
</script>

{% endblock %}
